@model OnBalance.Domain.Entities.Organization

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i> @Html.ActionLink(OnBalance.Core.MyConstants.Name, "Index", "Home")
            <span class="divider">\</span>
        </li>
        <li>
            @Html.ActionLink("Organizations", "Index", "Organization")
            <span class="divider">\</span>
        </li>
        <li>Create</li>
    </ul>

    @using( Html.BeginForm() )
    {
    
        @Html.ValidationSummary()
    
        @Html.EditorForModel()
        @*@Html.RenderPartial("~/Views/Shared/EditorTemplates/Organization.ascx", Model)*@
        
        <div class="bottom_links">
            <input type="submit" value="Create" class="btn btn-small btn-primary" />
            @Html.ActionLink("Back to list of companies", "list", null, new { @class = "btn btn-small" })
        </div>
    
    }

</div>
