@model OnBalance.ViewModels.Organizations.OrganizationEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i> @Html.ActionLink(OnBalance.Core.MyConstants.Name, "Index", "Home")
            <span class="divider">\</span>
        </li>
        <li>
            @Html.ActionLink("Organizations", "Index", "Organization")
            <span class="divider">\</span>
        </li>
        <li>
            @Model.Organization.Name
            @if(Model.Parent != null)
            {
                <span>(under [@Html.ActionLink(Model.Parent.Name, "edit", "organization", new { id = Model.Parent.Id }, null)])</span>
            }
        </li>
    </ul>


@using(Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    @Html.EditorFor(x => x.Organization)

    <input type="submit" value="Save" class="btn btn-small btn-primary" />
}

    <div class="row-container">
        <div class="span5">
            <div class="well">
                <p><b>Children POS</b> <a href="@Url.Action("create", "organization", new { id = Model.Organization.Id })"><i class="icon-plus-sign"></i></a></p>
            </div>
        </div>

        <div class="span5">
            <div class="well"><b>Users in this POS</b></div>
        </div>
    </div>

    @*<div class="row-container">
        <div class="span5">
            <b class="pull-left">Children POS</b>
            <div class="pull-left">
                @Html.ImageLink("/images/add.png", "Create POS under this", Url.Action("create", "organization", new { id = Model.Organization.Id }), new { width = 16, height = 16 }, null)
            </div>
            <div class="clearfix"></div>
            @foreach(var p in Model.Children)
            {
                <div class="dtrow">
                    <div class="dtcell">@Html.ActionLink(p.Name, "edit", "organization", new { id = p.Id }, null)</div>
                </div>
            }
        </div>
        <div class="span5">
            <div class="b">Users</div>
            <div>
                @Html.ImageLink("/images/add.png", "Create user for this POS", Url.Action("createinpos", "useradmin", new { id = Model.Organization.Id }), new { width = 16, height = 16 }, null)
            </div>
            @foreach(var user in Model.Users)
            {
                <div class="dtrow">
                    <div class="dtcell">@user.UserName</div>
                </div>
            }
        </div>
    </div>*@
</div>