@model IEnumerable<OnBalance.Domain.Entities.Organization>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i> @Html.ActionLink(OnBalance.MyConstants.Name, "Index", "Home")
            <span class="divider">\</span>
        </li>
        <li>
            @Html.ActionLink("Organizations", "Index", "Organization")
        </li>
    </ul>


    @Html.Partial("MessagesAndErrors")

    <table width="90%" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>
                Id
            </th>
            <th>
                Status
            </th>
            <th>
                Parent
            </th>
            <th>
                Name
            </th>
            <th>
                Created at
            </th>
            <th>
                Updated at
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
    
        <tr>
            <td>
                @Html.Encode(item.Id)
            </td>
            <td>
                @item.StatusName
            </td>
            <td>
                @Html.Encode(item.ParentId)
            </td>
            <td>
                @Html.ActionLink(item.Name, "list", new { id = item.Id })
            </td>
            <td>
                @Html.Encode(String.Format("{0:g}", item.CreatedAt))
            </td>
            <td>
                @Html.Encode(String.Format("{0:g}", item.UpdatedAt))
            </td>
            <td>
                <a href="@Url.Action("edit", new { id = item.Id })" title="Edit organization" cl__ass="btn btn-mini"><i class="icon-edit"></i></a>
                <a href="@Url.Action("moveto", new { id = item.Id })" title="Move POS to..." cl__ass="btn btn-mini"><i class="icon-arrow-right"></i></a>
                @*@Html.ImageLink("/images/edit.png", "Edit organization", Url.Action("edit", new { id = item.Id }), new { width = 16, height = 16 }, null)*@
                @*@Html.ImageLink("/images/posmoveto.png", "Move POS to...", Url.Action("moveto", new { id = item.Id }), new { width = 16, height = 16 }, null)*@
            </td>
        </tr>
    
    }

    </table>
        <div class="btn-group">
            @Html.ActionLink("List of companies", "list", null, new { @class = "btn btn-mini" })
            <a class="btn btn-mini btn-primary" href="@Url.Action("create", string.IsNullOrEmpty(Request["parent"]) ? null : new{ id = Request["parent"] })"><i class="icon-plus icon-white"></i> Create</a>
        </div>
        
        

</div>