@model OnBalance.ViewModels.User.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i> @Html.ActionLink(OnBalance.Core.MyConstants.Name, "index", "home")
            <span class="divider">\</span>
        </li>
        <li>
            Dashboard
        </li>
    </ul>


    <div class="span4 well">
        <div><strong>Last created POS</strong></div>
        <ul>
        @foreach(var p in Model.LastPos)
        {
            <li>@p.Name (at @p.CreatedAt.ToShortDateString())</li>
        }
        </ul>
    </div>
    <div class="span4 well">
        <div><strong>Last created users</strong></div>
        <ul>
        @foreach(var u in Model.LastUsers)
        {
            <li>
                @u.UserName (at @u.CreationDate.ToShortDateString())
                @Html.ImageLink(Url.Content("~/images/edit.png"), "Edit", Url.Action("edit", "useradmin", new { id = u.UserName }), null, null)
            </li>
        }
        </ul>
    </div>
</div>
