@model List<OnBalance.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink(OnBalance.MyConstants.Name, "index", "home")
            <span class="divider">\</span>
        </li>
        <li>List of categories</li>
    </ul>

    <table class="table table-hover table-bordered table-condensed table-striped">
        <caption>List of categories</caption>
        <thead>
            <th>Name</th>
            <th>Status</th>
            <th>Category type</th>
            <th></th>
        </thead>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StatusName</td>
                <td>@item.CategoryTypeName</td>
                <td>
                    @Html.ActionLink("Edit", "edit", new { id = item.Id }, new { @class = "btn btn-mini" })
                </td>
            </tr>
        }
    </table>


</div>
