@model OnBalance.ViewModels.Categories.PosCategoriesListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink(OnBalance.Core.MyConstants.Name, "index", "home")
            <span class="divider">\</span>
        </li>
        <li>Categories for POS @Model.Organization.Name</li>
    </ul>

    <table class="table table-hover table-bordered table-condensed table-striped">
        <caption>List of categories</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Category type</th>
                <th></th>
            </tr>
        </thead>
        @foreach(var item in Model.Categories)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StatusId</td>
                <td>item.CategoryTypeName</td>
                <td>
                    @Html.ActionLink("Edit", "edit", new { id = item.Id }, new { @class = "btn btn-mini" })
                </td>
            </tr>
        }
    </table>


</div><div class="bottom_links">
    <div class="btn-group">
        <a href="@Url.Action("list", new { id = Model.Organization.Id })" class="btn btn-mini" title="List of categories">@OnBalance.MyMessages.ButtonText.BackToList</a>
        @if(Model.Organization.Id > 0)
        {
            <a href="@Url.Action("create", new { id = Model.Organization.Id })" class="btn btn-mini btn-primary" title="Create new product category"><i class="icon-plus icon-white"></i> @OnBalance.MyMessages.ButtonText.Create</a>
        }
    </div>
</div>
