@{
    var Model = new OnBalance.ViewModels.User.DashboardViewModel();
    Model.Init();
    Html.ResourceManager()
        //.AddCssFile("~/css/onbalance.css")
        .AddCssFile("~/bootstrap/css/bootstrap.css");
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="@Url.Content("/css/onbalance.css")" rel="stylesheet" type="text/css" />*@
</head>

<body>

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
    <div class="container-fluid">
        @Html.ActionLink(OnBalance.Core.MyConstants.Name, "Index", "Home", null, new { @class = "brand" })
        <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
            @Html.Partial("_LogOnPartial")
        </p>
        </div>
    </div>
    </div>
</div>

<div class="container-fluid">
    <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Shops</li>
            @foreach(var item in Model.Shops)
            {
                <li>
                    @Html.DisplayFor(x => item)
                    @if(item.Children.Count > 0)
                    {
                        <ul class="nav nav-list">
                            @foreach (var child in item.Children)
	                        {
                                <li>@Html.DisplayFor(x => child)</li>
	                        }
                        </ul>
                        <li class="divider"></li>
                    }
                </li>
            }
        </ul>
    </div>
    <div class="span9">
        @RenderBody()
    </div>
</div>

    <div class="navbar navbar-fixed-bottom">&copy; 2012-@DateTime.Now.ToString("yyyy")</div>

@*<div id="wrapper">
    <header id="header">
	    <div class="logo">
            @Html.Partial("_LogOnPartial")
	    </div>
    </header>
</div>
<div class="main_content_left">
    <div class="user_shop_list">
        <div class="list_header">Shops</div>
        @foreach(var item in Model.Shops)
        {
            <div style="clear: both;">
                @Html.DisplayFor(x => item)
                @if(item.Children.Count > 0)
                {
                    <div class="user_shop_children">
                        @foreach (var child in item.Children)
	                    {
                            <div>@Html.DisplayFor(x => child)</div>
	                    }
                    </div>
                }
            </div>
        }
    </div>
    <div class="vspacer5"></div>

    <div class="user_imports_list">
        <div class="list_header">Pending imports</div>
        @foreach(var item in Model.Imports)
        {
            <div class="user_import_item">
                <div>@Html.Encode(item.CreatedAt.ToString("yyyy-MM-dd HH:mm"))</div>
                <div class="list_actions">
                    <a href="@Url.Action("view", "balancer", new { id = item.Id })"><img src="@Url.Content("/images/view.png")" alt="View"/></a>
                </div>
            </div>
        }
    </div>
    <div class="vspacer5"></div>

    <div class="user_exports_list">
        <div class="list_header">Pending exports</div>
        @foreach(var item in Model.Exports)
        {
            <div class="user_export_item">
                <div>@Html.Encode(item.CreatedAt.ToString("yyyy-MM-dd HH:mm"))</div>
                <div>@Html.ActionLink("View", "view", "balancer", new { id = item.Id }, null)</div>
            </div>
        }
    </div>
    <div class="vspacer5"></div>
</div>
<div class="main_content_center">
    @RenderBody()
</div>*@

@RenderSection("AdditionalJsFiles", false)
@Html.ResourceManager().OutputCssFiles()
@Html.ResourceManager().OutputJsFiles()

</body>
</html>
