@{
    var Model = new OnBalance.ViewModels.User.DashboardViewModel();
    Html.ResourceManager().AddCssFile("~/css/onbalance.css");
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*<link href="@Url.Content("/css/onbalance.css")" rel="stylesheet" type="text/css" />*@
</head>

<body>

<div id="wrapper">
    <header id="header">
	    <div class="logo">
            @Html.Partial("_LogOnPartial")
	    </div>
    </header>
</div>
<div class="main_content_left">
    <div class="user_shop_list">
        <div class="list_header">Shops</div>
        @foreach(var item in Model.Shops)
        {
            <div class="user_shop_item">@Html.ActionLink(item.Name, "balance", "pradmin", new { id = item.Id }, null)</div>
            <ul class="list_actions left">
                <li>@Html.ImageLink("/images/edit.png", "Edit POS", Url.Action("edit", "organization", new { id = item.Id }), new { width = 16, height = 16 }, null)</li>
                <li>@Html.ImageLink("/images/productadmin.png", "Product list", Url.Action("list", "pradmin", new { id = item.Id }), new { width = 16, height = 16 }, new { style = "border: 0" })</li>
                <li>@Html.ImageLink("/images/poscategories.png", "List of categories", Url.Action("categories", "pradmin", new { id = item.Id }), new { width = 16, height = 16 }, null)</li>
                <li>@Html.ImageLink("/images/import.png", "Import from file", Url.Action("parse", "pradmin", new { id = item.Id }), new { width = 16, height = 16 }, null)</li>
                <li>@Html.ImageLink("/images/view.png", "Balance", Url.Action("list", "balance", new { id = item.Id }), new { width = 16, height = 16 }, null)</li>
            </ul>
        }
    </div>
    <div class="vspacer5"></div>

    <div class="user_imports_list">
        <div class="list_header">Pending imports</div>
        @foreach(var item in Model.Imports)
        {
            <div class="user_import_item">
                <div>@Html.Encode(item.CreatedAt.ToString("yyyy-MM-dd HH:mm"))</div>
                <div class="list_actions">
                    <a href="@Url.Action("view", "balancer", new { id = item.Id })"><img src="@Url.Content("/images/view.png")" alt="View"/></a>
                </div>
            </div>
        }
    </div>
    <div class="vspacer5"></div>

    <div class="user_exports_list">
        <div class="list_header">Pending exports</div>
        @foreach(var item in Model.Exports)
        {
            <div class="user_export_item">
                <div>@Html.Encode(item.CreatedAt.ToString("yyyy-MM-dd HH:mm"))</div>
                <div>@Html.ActionLink("View", "view", "balancer", new { id = item.Id }, null)</div>
            </div>
        }
    </div>
    <div class="vspacer5"></div>
</div>
<div class="main_content_center">
    @RenderBody()
</div>

<div style="clear: both;"></div>

<div>
    <footer id="footer">
        <div class="copyright">2012 - @DateTime.Now.ToString("yyyy") &copy;</div>
    </footer>
</div>

@RenderSection("AdditionalJsFiles", false)
@Html.ResourceManager().OutputCssFiles()
@Html.ResourceManager().OutputJsFiles()

</body>
</html>
