@model IEnumerable<OnBalance.Models.BalanceItem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            StatusId
        </th>
        <th>
            PosId
        </th>
        <th>
            InternalCode
        </th>
        <th>
            ProductName
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            PriceOfRelease
        </th>
        <th>
            _DbFieldIsNew
        </th>
        <th>
            IsNew
        </th>
        <th>
            HasLocalChanges
        </th>
        <th>
            HasRemoteChanges
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PosId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceOfRelease)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._DbFieldIsNew)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsNew)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasLocalChanges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasRemoteChanges)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
