@model OnBalance.Domain.Entities.Organization

<div>
    <div class="user_shop_item">@Html.ActionLink(Model.Name, "balance", "pradmin", new { id = Model.Id }, null)</div>
    <div>
        <div class="btn-group">
            @Html.ImageLink("/images/edit.png", "Edit POS", Url.Action("edit", "organization", new { id = Model.Id }), new { width = 12, height = 12 }, new { @class = "btn-mini" })
            @Html.ImageLink("/images/productadmin.png", "Product list", Url.Action("list", "pradmin", new { id = Model.Id }), new { width = 12, height = 12 }, new { @class = "btn-mini" })
            @Html.ImageLink("/images/poscategories.png", "List of categories", Url.Action("list", "category", new { id = Model.Id }), new { width = 12, height = 12 }, new { @class = "btn-mini" })
            @Html.ImageLink("/images/import.png", "Import from file", Url.Action("parse", "pradmin", new { id = Model.Id }), new { width = 12, height = 12 }, new { @class = "btn-mini" })
            @Html.ImageLink("/images/view.png", "Balance", Url.Action("balance", "pradmin", new { id = Model.Id }), new { width = 12, height = 12 }, new { @class = "btn-mini" })
        </div>
    </div>
</div>
