@model IEnumerable<OnBalance.Models.Category>

@{
    ViewBag.Title = "AllCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllCategories</h2>

<table>
    <tr>
        <th>
            Status
        </th>
        <th>
            Parent
        </th>
        <th>
            Organization
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ImageLink("/images/edit.png", "Edit category", Url.Action("editcategory", new { id = item.Id }), new { width = 16, heigth = 16 }, null)
        </td>
    </tr>
}

</table>

<div class="bottom_links">
    @Html.ImageLink("/images/add.png", "Create category", Url.Action("createcategory"), new { width = 16, heigth = 16 }, null)
</div>
