@model IEnumerable<OnBalance.Models.Category>

@{
    ViewBag.Title = "AllCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllCategories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            status_id
        </th>
        <th>
            parent_id
        </th>
        <th>
            used_in_org
        </th>
        <th>
            name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.status_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parent_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.used_in_org)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
