@model OnBalance.ViewModels.Products.ProductsByCategoryViewModel

@{
    ViewBag.Title = "Balance";
    int nameW = 150;
    int codeW = 100;
    int qntW = 60;
    int sizeW = 30;
}
    <style>
        .product-qnt {
            width: 25px; float: left; overflow: hidden; font-size: x-small;
        }
        .product-qnt-minus {
            width: 8px; float: left; cursor: pointer;
        }
        .product-qnt-plus {
            width: 8px; float: left; cursor: pointer;
        }
        thead {
            background: #efefef;
        }

        .table-bordered th {
            border-left: 0 !important;
        }

        .container {
            width: 90%;
            margin: auto;
        }

        .fixed {
            top: 0;
            position: fixed;
            /*width: auto;*/
            display: none;
            border: none;
        }

        .ob-w-name {
            width: @(nameW)px;
        }

        .ob-w-code {
            width: @(codeW)px;
        }

        .ob-w-price {
            width: @(qntW)px;
        }

        .ob-w-size {
            width: @(sizeW)px;
        }

        td {
            font-size: x-small;
            font-weigth: normal;
        }

        th {
            font-size: x-small;
            font-weigth: bolder;
        }

    </style>

<h2>Balance</h2>

@Html.ActionLink("Pending changes", "list", "balance", new { id = Model.PosId }, new { @class = "btn btn-mini btn-primary", target = "_blank" })

@foreach (var c in Model.ProductsByCategories)
{
    <div style="padding-top: 10px;">@c.CategoryName</div>
    <table class="display cell-border" style="width=@(nameW + codeW + 3 * qntW + c.SizesOrdered.Length * sizeW)px">
        <thead>
            <tr id="ProSiz_@(c.CategoryId)">
                <th class="ob-str" style="width: @(nameW)px">
                    <div>Name
                        <a href="#" class="ob-add-size btn btn-mini" data-category-id="@c.CategoryId"><i class="icon icon-plus"></i> Size</a>
                    </div>
                </th>
                <th class="ob-str" style="width: @(codeW)px">
                    Code
                </th>
                <th class="ob-str" style="width: @(qntW)px">
                    Quantity
                </th>
                <th class="ob-str" style="width: @(qntW)px">
                    Price
                </th>
                <th class="ob-str" style="width: @(qntW)px">
                    Price<br />(release)
                </th>
                @* @foreach (var s in c.SizesOrdered) *@
                @for (int i = 0; i < c.SizesOrdered.Length; i++)
                {
                    <th id="@string.Concat("Siz_", c.CategoryId, "_", i)" data-size-name="@c.SizesOrdered[i].SizeName" style="@(sizeW)px">
                        @c.SizesOrdered[i].SizeName</th>
                }
            </tr>
            <tr>
                <th colspan="@(c.SizesOrdered.Count() + 5)">
                    <a href="#" class="btn btn-mini btn-primary product-add-new" data-category-id="@c.CategoryId" data-size-qnt="@c.SizesOrdered.Length">Create product in @c.CategoryName</a>
                </th>
            </tr>
        </thead>
        <tbody id="ProCat_@(c.CategoryId)">
            @*<tr>
                <td colspan="@(c.SizesOrdered.Count() + 5)">
                    <a href="#" class="btn btn-mini btn-primary product-add-new" data-category-id="@c.CategoryId" data-size-qnt="@c.SizesOrdered.Length"><i class="icon-plus"></i> @c.CategoryName</a>
                </td>
            </tr>*@
        @foreach (var item in c.Products)
	    {
            <tr data-product-id="@item.Id">
                <td class="ob-str" style="width: @(nameW)px">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="ob-str" style="width: @(codeW)px">
                    @Html.DisplayFor(modelItem => item.InternalCode)
                </td>
                <td class="ob-str" style="width: @(qntW)px">
                    @Html.DisplayFor(modelItem => item.QuantityCalculated)
                </td>
                <td class="ob-str" style="width: @(qntW)px">
                    @Html.DisplayFor(modelItem => item.PriceFirst)
                </td>
                <td class="ob-str" style="width: @(qntW)px">
                    @Html.DisplayFor(modelItem => item.PriceReleaseFirst)
                </td>
                @*@foreach (var s in c.SizesOrdered)*@
                @for (int i = 0; i < c.SizesOrdered.Length; i++)
                {
                    if (item.ProductDetails != null)
                    {
                        var qnt = item.ProductDetails.FirstOrDefault(x => x.parameter_value == c.SizesOrdered[i].SizeName);
                        if (qnt != null)
                        {
                            var pd = String.IsNullOrEmpty(qnt.DataJson) ? null : Newtonsoft.Json.JsonConvert.DeserializeObject<OnBalance.Models.ProductDecoratorColor>(qnt.DataJson);
                        <td id="@("Pr_" + qnt.id)" @Html.Raw(pd == null || String.IsNullOrEmpty(pd.BackgroundColor) ? "style='" + sizeW + "px;'" : String.Format("style='background-color: {0}; width: {1}px;'", pd.BackgroundColor, sizeW))>
                            <div id="@("Qnt_" + qnt.id)" class="product-qnt">@qnt.quantity</div>
                            <div id="@("Decrease_" + qnt.id)" class="product-qnt-minus">@Html.Image("/images/decrease.gif", 6, 3, "-", null)</div>
                            <div id="@("Increase_" + qnt.id)" class="product-qnt-plus">@Html.Image("/images/increase.gif", 6, 3, "+", null)</div>
                        </td>
                        }
                        else
                        {
                            <td id="@string.Concat("NewS_", item.Id, "_", i)">
                                <div data-product-id="@item.Id" data-size-name="@c.SizesOrdered[i].SizeName" class="product-new-size" style="font-size: x-small">Add</div>
                            </td>
                        }
                    }
                    else
                    {
                        <td>-</td>
                    }
                }
            </tr>
            
	    }
        </tbody>
    </table>
}

<div id="DialogDiv" style="display: none;">
    @Html.LoaderDiv()
    <div id="DynamicDiv"></div>
</div>

<link rel="stylesheet" href="@Url.Content("~/css/jquery.contextmenu.css")">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="@Url.Content("~/Scripts/jquery.contextmenu.js")"></script>
<script src="//code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="@Url.Content("~/Scripts/grid.js")"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
@*<script src="@Url.Content("~/Scripts/dataTables.fixedHeader.js")"></script>*@
<script type="text/javascript">

    var gBaseUrl = "/";

    jQuery(function () {
        Grid.init(@Model.PosId);
        var tables = $('table').dataTable({
            "scrollY": "600px",
            "scrollX": true,
            "scrollCollapse": true,
            "paging": false,
            "searching": false,
            "info": false,
            "ordering": false,
        });
        //new $.fn.dataTable.FixedHeader(tables);
    });


</script>
<script type="text/javascript">
    @Html.Raw(Model.GetDecoratorsAsJs("gDecorators"))
</script>
