@model OnBalance.ViewModels.Categories.PosCategoriesListViewModel

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories for POS @Model.Organization.Name</h2>

<table>
    <tr>
        <th>
            Status
        </th>
        <th>
            POS
        </th>
        <th>Parent</th>
        <th>Category type</th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Categories) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationId)
        </td>
        <td>
            @(item.ParentId == 0 ? "" : item.Parent.Name)
        </td>
        <td>@item.CategoryTypeName</td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ImageLink("/images/edit.png", "Edit category", Url.Action("editcategory", new { id = item.Id }), new { width = 16, height = 16 }, null)
        </td>
    </tr>
}

</table>

<div class="bottom_links">
    @Html.ImageLink("/images/add.png", "Create new product category", Url.Action("createcategory", new { id = Model.Organization.Id }), new { width = 16, heigth = 16 }, null)
</div>
