@model OnBalance.Models.Category

@{
    var CategoryStructure = new OnBalance.Models.CategoryStructureRepository().GetStructure(Model.Id);
}

<div>
@for(int i = 0; i < CategoryStructure.Count(); i++)
{
    <div class="dtrow">
        @Html.Hidden("index", i)
        @Html.HiddenFor(x => CategoryStructure[i].Id)
        <div class="dtcell">
            @Html.TextBoxFor(x => CategoryStructure[i].FieldName)
        </div>
        <div class="dtcell">
            @Html.CheckBox(ViewData.TemplateInfo.GetFullHtmlFieldName(string.Concat("CategoryStructure[", i, "].StatusId")), CategoryStructure[i].StatusId == (byte)OnBalance.Status.Approved)
        </div>
    </div>
}
</div>

<div>
    <div class="dtrow b">New parameter</div>
    <div class="dtrow">
        <div class="dtcell">New name</div>
        <div class="dtcell">Is approved</div>
    </div>
    <div class="dtrow">
        <div class="dtcell">
            @Html.TextBox("NewName")
        </div>
        <div class="dtcell">
            @Html.CheckBox("NewStatus", true)
        </div>
    </div>
</div>
