@model OnBalance.Models.Product

@{
    int totalSizes = (int)ViewBag.TotalSizes;
}

    <tr data-product-id="@Model.Id">
        <td style="width: 20px;">
            <a href="#" onclick="Grid.deleteNewProduct($(this), @Model.Id, '@Model.Name'); return false;"><img src="@Url.Content("~/images/delete.png")" width="10" height="10" alt="Delete" class="ob-delete-product" data-product-id="@Model.Id" /></a>
        </td>
        <td>@Html.DisplayFor(x => x.Name)</td>
        <td>@Html.DisplayFor(x => x.InternalCode)</td>
        <td>@Html.DisplayFor(x => x.QuantityCalculated)</td>
        <td>@Html.DisplayFor(x => x.Price)</td>
        <td>@Html.DisplayFor(x => x.PriceReleaseFirst)</td>
        @for (int i = 0; i < totalSizes; i++)
        {
            <td>
                @* class no-init for JS *@
                <div data-product-id="@Model.Id" data-size-index="@i" class="product-created-size no-init" style="font-size: x-small">Add</div>
            </td>
        }
    </tr>
