@model OnBalance.Models.Product

    <tr>
        <td>@Html.DisplayFor(x => x.Name)</td>
        <td>@Html.DisplayFor(x => x.InternalCode)</td>
        <td>@Html.DisplayFor(x => x.QuantityCalculated)</td>
        <td>@Html.DisplayFor(x => x.Price)</td>
        <td>@Html.DisplayFor(x => x.PriceReleaseFirst)</td>
    </tr>
