@model OnBalance.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using( Html.BeginForm() )
{

    @Html.ValidationSummary(false)
    @Html.EditorForModel()

    <div class="btn-group">
        @Html.ActionLink(@OnBalance.MyMessages.ButtonText.BackToList, "list", new { id = Model.PosId }, new { @class = "btn btn-mini" })
        <button class="btn btn-mini btn-primary"><i class="icon-ok icon-white"></i> @OnBalance.MyMessages.ButtonText.Save</button>
    </div>
   
}
