@model OnBalance.ViewModels.Categories.CategoryStructureViewModel

@{
    ViewBag.Title = "Edit category";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Html.ResourceManager()
        .AddJsFile("http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js")
        .AddJsLibrary(OnBalance.Helpers.HtmlResourcesAggregator.Libraries.UnobtrusiveMvc, "", OnBalance.Helpers.HtmlResourcesAggregator.ScriptFormats.Min, OnBalance.Helpers.HtmlResourcesAggregator.Cdns.Microsoft);

    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        LoadingElementId = "LoadingDiv",
        UpdateTargetId = "DynamicDiv",
        OnFailure = "alert('Error saving Category structure!');"
    };

    Html.EnableUnobtrusiveJavaScript(true);
}

<h2>Edit category @Model.Category.Name</h2>

@using(Ajax.BeginForm("dosavestructure", new { id = Model.Category.Id }, ajaxOptions))
{
    @Html.ValidationSummary()
    
    <div id="LoadingDiv" style="display: none;">loading</div>
    
    @Html.EditorFor(x => Model.Category)

    <div id="DynamicDiv">
        @Html.Partial("CategoryStructure", Model.Category)
    </div>

    <input type="submit" value="Save" />
    @Html.ImageLink("/images/poscategories.png", "POS categories", Url.Action("categories", "pradmin", new { id = Model.Category.OrganizationId }), new { width = 16, heigth = 16 }, null)
}

