@model OnBalance.ViewModels.Products.ProductsInPosViewModel
@{
    ViewBag.Title = "Balance";
    Layout = null;

    Html.ResourceManager()
        .AddJsLibrary(OnBalance.Helpers.HtmlResourcesAggregator.Libraries.jQuery, "1.8.1", OnBalance.Helpers.HtmlResourcesAggregator.ScriptFormats.Debug, OnBalance.Helpers.HtmlResourcesAggregator.Cdns.Microsoft)
        .AddJsFile("~/scripts/product.js")
        .AddCssFile("~/css/admin.css");
}

<div class="container-fluid">
        @foreach(var c in Model.Categories)
        {
            <div style="float: left; margin: 5px; line-height: 25px; border: solid 1px #d2d2d2; border-radius: 4px; padding: 2px;">
                @c.Name
                <i class="icon-remove"></i>
            </div>
        }

    <div class="container-fluid">
    <table class="table table-hover table-bordered table-condensed table-striped">
        <caption>Products of @Model.Pos.Name</caption>
        <tbody>
        @foreach(var item in Model.Products)
        {
        
            <tr>
                <td>
                    @if(item.Pos.Configuration.IsPhotosFromEshop)
                    {
                        @Html.ImageLink("/images/productweb.png", "Product info at E-shop", item.PhotosUri.ToString(), new { width = 16, height = 16 }, new { @class = "ob-prphotos-link", target = "_blank" })
                    }
                    @Html.ImageLink("/images/productphotos.png", "Photos from E-shop", "#", new { width = 16, height = 16 }, new { @class = "ob-prinfo-link" })
                </td>
                <td>
                    @Html.Display(item.StatusName, new { @class = item.StatusCssStyle })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternalCode)
                </td>
                <td>
                    <i class="icon-barcode" title="Unique ID @item.Uid"></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.CreatedAt.ToShortDateString()
                </td>
                <td>
                    <div class="btn-group">
                    @Html.ImageLink("/images/edit.png", "Edit", Url.Action("edit", new { id = item.Id }), new { width = 16, heigth = 16 }, new { @class = "btn-mini" })
                    </div>
                
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    @if(item.Category != null)
                    {
                        <strong>@item.Category.CategoryTypeName</strong>
                    }
                    @Html.DisplayFor(x => item.Details, "ProductDetail")
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>

</div>

<script type="text/javascript">
    window.onload = function () {
        Product.init();
    }
</script>
