@model int

@{
    
    var list = new OnBalance.Models.CategoryTypeRepository().Items.ToList();
    var o = list.FirstOrDefault(x => x.Id == Model);
    string name = o == null ? "" : o.Name;
}


@if( o != null )
{
    <div>Current category type is <strong>@name</strong></div>
}else
{
    <div>Category does <strong>not</strong> have specified type [@Model]</div>
}
@Html.HiddenFor(x => Model, new { id = "CategoryTypeId" })
<div id="CategoryTypeList" class="btn-group">
@foreach(var item in list)
{
    <a id="@string.Concat("CategoryTypeId_", item.Id)" class="btn btn-mini @(item.Id == Model ? "btn-primary" : "")" title="@item.Text" alt="@item.Text">@item.Name</a>
}
</div>


