@model OnBalance.Domain.Entities.Organization

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.ParentId)

<div class="editor-label">@Html.LabelFor(x => x.StatusId)</div>
<div class="editor-field">
    @Html.StatusDropDownList((OnBalance.Status)Model.StatusId, "StatusId")
    @*@Html.EditorFor(x => x.StatusId, "Enum")*@
    @Html.ValidationMessageFor(x => x.StatusId)
</div>

<div class="editor-label">@Html.LabelFor(x => x.Name)</div>
<div class="editor-field">
    @Html.EditorFor(x => x.Name)
    @Html.ValidationMessageFor(x => x.Name)
</div>

