@model OnBalance.Models.Product
           
@{
    
    List<SelectListItem> shops = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "Choose",
            Value = "0",
            Selected = true
        }
    };

    new OnBalance.Models.OrganizationRepository()
        .Organizations
        .ToList()
        .ForEach(x => shops.Add(new SelectListItem
        {
            Text = x.Name,
            Value = x.Id.ToString(),
            Selected = x.Equals(Model.pos_id)
        }));
    
}

@Html.HiddenFor(model => model.id)

<div class="editor-label">
    @Html.LabelFor(model => model.status_id)
</div>
<div class="editor-field">
    @Html.StatusDropDownList((OnBalance.Status)Model.status_id)
    @Html.ValidationMessageFor(model => model.status_id)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.pos_id)
</div>
<div class="editor-field">
    @Html.DropDownListFor(x => x.pos_id, shops)
    @Html.ValidationMessageFor(model => model.pos_id)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.internal_code)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.internal_code)
    @Html.ValidationMessageFor(model => model.internal_code)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.user_id)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.user_id)
    @Html.ValidationMessageFor(model => model.user_id)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.name)
    @Html.ValidationMessageFor(model => model.name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.price)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.price)
    @Html.ValidationMessageFor(model => model.price)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.created_at)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.created_at)
    @Html.ValidationMessageFor(model => model.created_at)
</div>

@foreach(var s in Model.ProductDetails)
{
    int idx = Model.ProductDetails.IndexOf(s);
    <div style="padding-left: 20px;">@Html.EditorFor(x => Model.ProductDetails[idx])</div>
}