@model IEnumerable<OnBalance.Parsers.ParsedItem>

@{
    ViewBag.Title = "Preview";
    string prevCategoryName = "_____________";
    var sizeNames = (List<OnBalance.Parsers.ItemSizeQuantity>)ViewBag.SizeNames;
    var categories = ViewBag.CategoryNames as List<string>;
}

<h2>Preview. Parsed: @Model.Count()</h2>

<div>
    @if(categories != null)
    {
        foreach (string cn in categories)
        {
            @cn<br />
        }
    }
</div>

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Code
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Price (release)
        </th>
        @foreach (var s in sizeNames)
        {
            <th>@s.Size</th>
        }
    </tr>

@foreach (var item in Model) {
    if (item.CategoryName.Equals(prevCategoryName) == false)
    {
        prevCategoryName = item.CategoryName;
        <tr>
            <td colspan="6"><strong>@item.CategoryName</strong></td>
        </tr>
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceOfRelease)
        </td>
        @foreach (var s in sizeNames)
        {
            var qnt = item.Sizes.FirstOrDefault(x => x.Size == s.Size);
            <td>@(qnt == null ? "" : qnt.Quantity.ToString())</td>
        }
    </tr>
}
    <tr>
        <td colspan="6">
            <div class="btn-group">
                @Html.ActionLink(OnBalance.MyMessages.ButtonText.Back, "edit", null, new { @class = "btn btn-mini" })
                @Html.ActionLink("Import", "import", null, new { @class = "btn btn-mini btn-primary" })
            </div>
        </td>
    </tr>

</table>
