@model IEnumerable<OnBalance.Parsers.ParsedItem>

@{
    ViewBag.Title = "Preview";
    string prevCategoryName = "_____________";
}

<h2>Preview</h2>

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Code
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Price (release)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.CategoryName.Equals(prevCategoryName) == false)
    {
        prevCategoryName = item.CategoryName;
        <tr>
            <td colspan="6"><strong>@item.CategoryName</strong></td>
        </tr>
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceOfRelease)
        </td>
        <td style="width: @(item.CalculateTotalQuantity() * 32)px;">
            <div style="display: table-row;">
            @foreach (var s in item.Sizes)
            {
                <div style="display: table-cell; width: 30px; font-size: x-small; font-family: 'Courier New'; padding-right: 5px;">
                    @s.Size<br />@s.Quantity
                </div>
            }
            </div>
        </td>
    </tr>
}
    <tr>
        <td colspan="6">
            <div class="btn-group">
                @Html.ActionLink(OnBalance.MyMessages.ButtonText.Back, "edit", null, new { @class = "btn btn-mini" })
                @Html.ActionLink("Import", "import", null, new { @class = "btn btn-mini btn-primary" })
            </div>
        </td>
    </tr>

</table>
