@model IEnumerable<OnBalance.Parsers.ParsedItem>

@{
    ViewBag.Title = "Preview";
}

<h2>Preview</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IsOk
        </th>
        <th>
            LineNr
        </th>
        <th>
            CategoryName
        </th>
        <th>
            ProductName
        </th>
        <th>
            InternalCode
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            PriceOfRelease
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsOk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceOfRelease)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
