@model OnBalance.Domain.Entities.Organization

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i> @Html.ActionLink(OnBalance.MyConstants.Name, "Index", "Home")
            <span class="divider">\</span>
        </li>
        <li>
            @Html.ActionLink("Organizations", "Index", "Pos")
            <span class="divider">\</span>
        </li>
        <li>
            Point Of Service @Model.Name
        </li>
    </ul>

@using(Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" value="Update" />
    @Html.ActionLink("Back to POS list", "list")
}

</div>